.banner-video-div {
  padding: 0;
  position: relative;
  height: auto;
  overflow: hidden;
}

.banner-video {
  width: 100%;
}

.banner-text {
  position: absolute;
  top: 20%;
}

.banner-preheading {
  top: 0;
  font-size: 7vw;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.15vw #fff;
  letter-spacing: 1vw;
}

.banner-heading {
  position: absolute;
  font-family: prohibition, Helvetica, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 12vw;
  text-align: center;
  width: 100%;
}

.banner-heading-stroke {
  top: 12.4vw;
  left: 0.3%;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.2vw #ed771d;
}

.banner-heading-fill {
  top: 12vw;
  color: #fff;
}

.banner-subheading {
  top: 25vw;
  font-size: 3.5vw;
  color: #ed771d;
}

.bullet {
  color: #fff;
}

#bannerVideoPause {
  cursor: pointer;
  position: absolute;
  bottom: 1%;
  right: 0.5%;
  color: #efefef;
}

/* Rules for screen size below 1300px */
@media only screen and (max-width: 1300px) {
  .banner-video {
    top: 0;
  }
}

/* Rules for screen size below 768px */
@media only screen and (max-width: 768px) {
  .banner-video {
    transform: translateX(-25%);
    width: 200%;
    height: 100%;
  }

  .banner-heading {
    font-size: 24vw;
  }

  .banner-preheading {
    font-size: 8.5vw;
  }

  .banner-subheading {
    font-size: 5vw;
    top: 29vw;
  }

  .banner-text {
    top: 15%;
  }

  .banner-heading-stroke {
    top: 8.6vw;
    left: 0.6%;
  }

  .banner-heading-fill {
    top: 8vw;
  }
}
