/* All navbar items */
.navbar-nav > li {
  float: none;
  display: inline-block;
  font-family: urw-din-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3em;
}

nav.navbar {
  box-shadow: 0px 4px 9px rgba(0,0,0,.3);
}

nav.navbar a {
  font-weight: 400;
}

nav a:hover {
  text-decoration: none;
}

#organization-nav {
  z-index: 100;
}

.nav-item {
  position: relative;
}

#organization-nav .nav-link {
  color: #000;
}

#organization-nav .nav-link:before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #ed771d;
  width: 0%;
  bottom: 5px;
}

#organization-nav .nav-link:hover:before {
  width: 80%;
}

#donateBtn .nav-link:before {
  background-color: #fff;
}

#program-nav {
  background-color: #cd3232;
  z-index: 99;
  padding: 0rem 1rem;
}

#program-nav .nav-link {
  color: #fff;
}

#program-nav .nav-link:before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #fff;
  width: 0%;
  bottom: 8px;
}

#program-nav .nav-link:hover:before {
  width: 80%;
}

.navbar-program-name {
  color: #fff;
  font-family: teko, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  padding-top: .5rem;
  padding-right: 0;
  margin-right: 0;
}

.navbar-program-name:hover {
  color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Logo shown in middle of expanded organization nav */
#navbar-logo {
  width: 3rem;
  height: 2.5rem;
  padding-top: .25rem;
}

/* Logo shown in middle of collapsed organization nav */
#collapsed-navbar-logo {
  width: 40px;
  height: 35px;
  margin-left: -45px; /* offsets width of toggler icon */
}

#donateBtn {
  background-color: #ed771d;
}

.dropdown-menu {
  border: 1px solid #ddd;
  padding: 0;
  margin: 0;
  border-top: none;
}

.dropdown-item:active {
  background-color: #cd3232;
}

.dropdown-item:hover {
  background-color: #cd3232;
  color: #fff;
}

.dropdown-toggle::after {
  vertical-align: .15em;
}

/* Announcement Bar */
#announcementBar {
  margin-bottom: 0;
  padding: .5rem 1rem;
  background-color: #ed771d;
  color: #fff;
  text-align: center;
  border-radius: 0;
  z-index: 101;
}

#announcementBar p {
  margin-bottom: 0;
}

#announcementBar a {
  color: #fff;
  text-decoration: underline;
}

/* Rules for screen size at 768px or larger */
#donateBtn {
  margin-top: -10px;
  padding-top: 10px;
  border-radius: 0px 0px 10px 10px;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: .35rem;
    padding-left: .35rem;
  }
}

@media (min-width: 850px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .55rem;
  }
}


/* Rules for screen size below 768px */
@media only screen and (max-width: 767px) {

  /* Modifications to allow donateBtn overflow on mobile */
  #organization-nav {
    padding: .5rem 0;
  }
  #organization-nav .navbar-toggler {
    padding: .25rem 1.75rem;
  }
  #organization-nav .nav-item {
    padding: 0 1rem;
  }
  #donateBtn .nav-link {
    padding-left: 1rem;
  }
  #donateBtn {
    margin-left: -3.7rem;
    padding-left: 3.7rem!important;
    border-radius: 0px 10px 10px 0px;
    width: 9rem;
    margin-top: .2rem;
    padding-top: 0;
    height: 3rem;
  }

  #organization-nav .nav-link:hover:before {
    width: 0%;
  }

  #program-nav .nav-link:hover:before {
    width: 0%;
  }

}

/* Rules for dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a;
    color: #ddd;
  }

  #organization-nav .nav-link {
    color: #fff;
  }

  #donateBtn {
    background-color: #bd5a0f;
    z-index: 10;
  }

  .dropdown-menu {
    background-color: #1a1a1a;
    border: 1px solid #444;
    border-top: none;
  }

  .dropdown-item {
    color: #fff;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

}