h1 {
  font-family: teko, sans-serif;
  font-style: normal;
  line-height: 0.9;
}

h2 {
  font-family: teko, sans-serif;
  font-style: normal;
  line-height: 0.9;
  /* hyphens: auto; */
}

h3 {
  font-family: teko, sans-serif;
  font-style: normal;
  line-height: 0.9;
}

h3 a,
h3 a:hover {
  font-weight: inherit;
  color: #cd3232;
}

.subhead {
  font-size: 3rem;
}

.red {
  color: #cd3232;
}

body {
  font-family: urw-din-semi-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

a {
  color: #cd3232;
  font-weight: 600;
  text-decoration: initial;
}

p a:hover,
ol a:hover,
ul a:hover,
address a:hover {
  color: #cd3232;
  text-decoration: underline;
}

hr {
  border: 1px solid #cd3232;
  opacity: 100%;
}

li {
  font-family: urw-din-semi-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cta {
  color: #fff;
  background-color: #cd3232;
  border-color: #cd3232;
  font-family: prohibition;
  font-weight: 400;
  font-style: italic;
  font-size: 1.8rem;
}

.cta-large {
  font-size: 2.5rem;
}

.btn-red {
  background-color: #cd3232;
  color: #fff;
}

.btn-red:hover {
  border-color: #fff;
  color: #fff;
}

.right-round-photo-container {
  max-height: 25rem;
  height: auto;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-right: 0;
}

.right-round-photo {
  width: 120%;
  margin-top: -10%;
  height: auto;
}

.left-round-photo-container {
  max-height: 25rem;
  height: auto;
  width: 90%;
  overflow: hidden;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.left-round-photo {
  width: 120%;
  margin-right: -10vw;
  margin-top: -5%;
  height: auto;
}

.full-width-photo-container {
  height: auto;
  max-height: 20rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.row-cols-7 > *,
.row-cols-md-7 > * {
  flex: 0 0 14.28571429%;
  max-width: 14.28571429%;
}

.row-cols-7 > .offset-1,
.row-cols-md-7 > .offset-md-1 {
  margin-left: 14.28571429%;
}

.row-cols-7 > .offset-2,
.row-cols-md-7 > .offset-md-2 {
  margin-left: 28.57142858%;
}

.row-cols-7 > .offset-3,
.row-cols-md-7 > .offset-md-3 {
  margin-left: 42.85714287%;
}

.row-cols-7 > .offset-4,
.row-cols-md-7 > .offset-md-4 {
  margin-left: 57.142857169%;
}

.row-cols-7 > .offset-5,
.row-cols-md-7 > .offset-md-5 {
  margin-left: 71.42857145%;
}

.row-cols-7 > .offset-6,
.row-cols-md-7 > .offset-md-6 {
  margin-left: 85.71428574%;
}

.day-labels {
  text-align: center;
}

.calendar p,
.calendar h4 {
  margin: 0;
}

.calendar .col {
  padding-left: 5px;
  padding-right: 5px;
}

.calendar .card {
  border: 1px solid #cd3232;
  font-family: urw-din-condensed, sans-serif;
  color: #1a1a1a;
  height: 100%;
}

.calendar .show-day {
  background-color: #cd3232;
  border-color: #1a1a1a;
  color: #fff;
}

.calendar .card-header {
  text-align: right;
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-bottom: 0;
  background-color: inherit;
  border: none;
}

.calendar .card-body {
  padding: 0.2rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.calendar .card-footer {
  padding: 0.5rem;
  padding-left: 0.2rem;
  background-color: inherit;
  border: none;
}

.staff-photos .card {
  overflow: hidden;
  border-color: #fff;
}

.staff-photos .card-img {
  height: auto;
}

.staff-photos .card:hover {
  border-color: #cd3232;
  transition: all 0.2s;
  cursor: pointer;
}

.staff-photos .card-img-overlay {
  padding: 0.5rem;
  padding-right: 0.7rem;
  top: 75%;
  bottom: auto;
  right: 15%;
}

.staff-photos .background {
  background-color: #fff;
  left: -10%;
  border-right: 6px solid #cd3232;
  transform: skew(30deg, 0deg);
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
}

.staff-photos .card-img-overlay:before {
  background: none;
  border-right: 2px solid #fff;
  content: "";
  display: block;
  position: absolute;
  right: 8px;
}

.staff-photos p {
  margin: 0;
}

.staff-name {
  font-family: urw-din-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3rem;
  line-height: 1.2;
}

.staff-position {
  font-family: urw-din-condensed, sans-serif;
  font-weight: 100;
  font-style: normal;
  line-height: 1.2rem;
}

@media (min-width: 768px) {
  #staffBioModal {
    max-width: 50%;
  }
}

#bioOverlay .modal-dialog-scrollable {
  height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
  height: 100%;
}

@media (min-width: 576px) {
  #bioOverlay .modal-dialog-scrollable {
    height: calc(100% - 3.5rem);
  }
}

.bio-image-container {
  position: relative;
  height: auto;
  width: 40%;
  max-width: 300px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
}

#bio-name {
  font-size: 2rem;
  line-height: 0.9;
  margin-bottom: 0;
}

#bio-position {
  font-family: urw-din-condensed, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1rem;
}

.modal-title {
  line-height: 0.9;
}

.modal-header {
  padding-top: 0.75rem;
  padding-bottom: 0.6rem;
}

.close {
  line-height: 0.6;
}

.faq-question {
  font-size: 1.6rem;
  font-weight: 500;
  width: 100%;
  margin-bottom: 0.3rem;
  line-height: 1.1;
}

.news-entry-link {
  color: #1a1a1a;
  text-decoration: none;
}

.news-entry-link:hover {
  color: #1a1a1a;
  text-decoration: none;
}

.news-entry-link .card-body p {
  font-weight: initial;
}

.card {
  border: 2px solid #1a1a1a;
  border-radius: 1rem;
  overflow: hidden;
}

.news-entry-link .card:hover {
  border-color: #cd3232;
}

.card-title {
  font-family: urw-din-condensed, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.card-body p {
  margin-bottom: 0;
}

.show-location {
  font-style: italic;
  line-height: 1.4;
}

.lineup-list {
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
}

.news-byline {
  margin: 0;
  font-weight: 400;
}

.news-byline-divider {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.staff-photos .col {
  padding: 5px;
}

iframe {
  border: 1px solid #ddd;
}

.accordion .card-header {
  padding: 0.5rem 0.25rem;
}

.accordion .card-header h3 {
  margin-bottom: 0;
}

.accordion .card-header .btn-link {
  color: #cd3232;
}

.accordion .card-header .btn-link:hover {
  color: #cd3232;
}

.accordion .card-body p {
  margin-bottom: 1rem;
}

#newsList a.active {
  background-color: #cd3232;
  border: none;
}

.year-split {
  border-color: #888;
}

.donation-list {
  list-style: none;
  padding-left: 0;
}

#venmoButton:hover {
  background-color: #0d6efd;
  border-color: #fff;
}

/* Rules for screen size below 900px */
@media only screen and (max-width: 900px) {
  .calendar .card-body h4 {
    font-size: 1.25rem;
  }

  .calendar .card-footer {
    font-size: 0.8rem;
  }
}

/* Rules for screen size below 768px */
@media only screen and (max-width: 768px) {
  .row-cols-md-7 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-md-7 > .offset-md-1 {
    margin-left: initial;
  }

  .row-cols-md-7 > .offset-md-2 {
    margin-left: initial;
  }

  .row-cols-md-7 > .offset-md-3 {
    margin-left: initial;
  }

  .row-cols-md-7 > .offset-md-4 {
    margin-left: initial;
  }

  .row-cols-md-7 > .offset-md-5 {
    margin-left: initial;
  }

  .row-cols-md-7 > .offset-md-6 {
    margin-left: initial;
  }

  .right-round-photo-container {
    width: 100%;
    border-radius: 0;
    height: auto;
  }

  .right-round-photo {
    width: 100%;
    margin-left: 0;
    height: auto;
  }

  .left-round-photo-container {
    width: 100%;
    border-radius: 0;
    height: auto;
  }

  .left-round-photo {
    width: 100%;
    margin-right: 0;
  }

  .calendar .card-header {
    text-align: left;
    position: absolute;
    font-size: 1.5rem;
    background-color: inherit;
    border: none;
    top: 0.25rem;
  }

  .calendar .card-body {
    padding: 0.2rem;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 1rem;
    margin-right: 3rem;
  }

  .calendar .card-footer {
    text-align: right;
    position: relative;
    padding: 0.5rem;
    padding-left: 0.2rem;
    border: none;
    background-color: transparent;
    top: -1rem;
  }

  .staff-photos .card-img-overlay {
    padding: 0.5rem;
    padding-right: 0.6rem;
    top: 70%;
    bottom: auto;
    right: 10%;
  }

  .staff-name {
    font-size: 1rem;
  }

  .cta,
  .cta-large {
    font-size: 1.8rem;
  }
}

/* Rules for dark mode */

@media only screen and (prefers-color-scheme: dark) {
  p a,
  ol a,
  ul a,
  address a {
    color: #ed771d;
  }

  p a:hover,
  ol a:hover,
  ul a:hover,
  address a:hover {
    color: #ed771d;
  }

  h3 a,
  h3 a:hover {
    font-weight: inherit;
    color: #cd3232;
  }

  .accordion .card-header .btn-link {
    color: #ed771d;
  }

  .accordion .card-header .btn-link:hover {
    color: #ed771d;
  }

  .calendar .card {
    color: #ddd;
    background-color: #222;
  }

  .calendar .show-day {
    background-color: #cd3232;
    border-color: #1a1a1a;
  }

  .staff-photos .card {
    border-color: #1a1a1a;
    cursor: pointer;
  }

  .staff-photos .background {
    background-color: #1a1a1a;
  }

  .close {
    color: #ddd;
  }

  .close:hover {
    color: #fff;
  }

  .modal-content {
    background-color: #1a1a1a;
  }

  .modal-header {
    border-bottom: 1px solid #888;
  }

  .modal-footer {
    border-top: 1px solid #888;
  }

  .red {
    color: #ed771d;
  }

  .card {
    border-color: #ddd;
    background-color: #1a1a1a;
    color: #fff;
  }

  .form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ddd' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  }

  .btn-close {
    background: transparent
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ddd'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
      center/1em auto no-repeat;
  }

  .form-control,
  .form-select {
    background-color: #333;
    border: 1px solid #444;
    color: #ddd;
  }

  .form-control:focus,
  .form-select:focus {
    background-color: #333;
    border: 1px solid #777;
    color: #ddd;
  }

  #newsList a {
    background-color: #333;
    color: #eee;
  }

  #newsList a:hover {
    background-color: #444;
  }

  #newsList a.active {
    background-color: #cd3232;
  }

  .text-muted {
    color: #aaa !important;
  }
}
