# Allow link to leave off ".html"
Options +FollowSymlinks
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ /$1.html [L,QSA]

# BEGIN Expire headers  
<IfModule mod_expires.c>  
  # Turn on the module.
  ExpiresActive on
  # Set the default expiry times.
  ExpiresDefault "access plus 2 days"
  ExpiresByType image/jpg "access plus 1 month"
  ExpiresByType image/svg+xml "access 1 month"
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
  ExpiresByType application/x-shockwave-flash "access plus 1 month"
  ExpiresByType image/ico "access plus 1 month"
  ExpiresByType image/x-icon "access plus 1 month"
  ExpiresByType text/html "access plus 600 seconds"
  ExpiresByType video/mp4 "access plus 1 month"
</IfModule>  
# END Expire headers 

# Error Code Handling
ErrorDocument 404 /error

# Vanity URLs
Redirect 301 /redzone                                       /program-red-zone

# Converting underscores to hyphens
RedirectMatch 301 /alumniform(\.html)?$                     /alumni-form
RedirectMatch 301 /alumniform_submission(\.html)?$          /alumni-form-submission
RedirectMatch 301 /brassimpact_kc(\.html)?$                 /brass-impact
RedirectMatch 301 /celebration_dm(\.html)?$                 /celebration-in-brass
RedirectMatch 301 /dalzell_dbq(\.html)?$                    /music-on-the-march
RedirectMatch 301 /face_mask_pattern(\.html)?$              /face-mask-pattern
RedirectMatch 301 /givingtuesday(\.html)?$                  /giving-tuesday
RedirectMatch 301 /inforequest_submission(\.html)?$         /info-request-submission
RedirectMatch 301 /inforequest(\.html)?$                    /info-request
RedirectMatch 301 /memberapp-submission(\.html)?$           /member-application-submission
RedirectMatch 301 /memberapp(\.html)?$                      /member-application
RedirectMatch 301 /memberdocuments(\.html)?$                /member-documents
RedirectMatch 301 /monthlygivingform_submission(\.html)?$   /monthly-giving-form-submission
RedirectMatch 301 /monthlygivingform(\.html)?$              /monthly-giving-form
RedirectMatch 301 /movingpictures(\.html)?$                 /moving-pictures
RedirectMatch 301 /policies(\.html)?$                       /about-policies
RedirectMatch 301 /rsvp-moveins-colts(\.html)?$             /rsvp-move-ins
RedirectMatch 301 /rsvp-moveins-cadets(\.html)?$            /rsvp-move-ins-cadets
RedirectMatch 301 /signup_submission(\.html)?$              /email-signup-submission
RedirectMatch 301 /signupform(\.html)?$                     /email-signup
RedirectMatch 301 /summer-band-sign-up(\.html)?$            /summer-band-signup
RedirectMatch 301 /summer-pans-sign-up(\.html)?$            /summer-pans-signup
RedirectMatch 301 /summerpremiere(\.html)?$                 /summer-premiere
RedirectMatch 301 /tournament_cr(\.html)?$                  /tournament-of-drums
RedirectMatch 301 /whistleblower_submission(\.html)?$       /whistleblower-submission

# News articles
RedirectMatch 301 /2004_1(\.html)?$        /news/2004_1
RedirectMatch 301 /2004_2(\.html)?$        /news/2004_2
RedirectMatch 301 /2005_3(\.html)?$        /news/2005_3
RedirectMatch 301 /2005_4(\.html)?$        /news/2005_4
RedirectMatch 301 /2005_5(\.html)?$        /news/2005_5
RedirectMatch 301 /2005_6(\.html)?$        /news/2005_6
RedirectMatch 301 /2006_7(\.html)?$        /news/2006_7
RedirectMatch 301 /2006_8(\.html)?$        /news/2006_8
RedirectMatch 301 /2006_9(\.html)?$        /news/2006_9
RedirectMatch 301 /2006_10(\.html)?$       /news/2006_10
RedirectMatch 301 /2007_11(\.html)?$       /news/2007_11
RedirectMatch 301 /2007_12(\.html)?$       /news/2007_12
RedirectMatch 301 /2007_13(\.html)?$       /news/2007_13
RedirectMatch 301 /2007_14(\.html)?$       /news/2007_14
RedirectMatch 301 /2007_15(\.html)?$       /news/2007_15
RedirectMatch 301 /2007_16(\.html)?$       /news/2007_16
RedirectMatch 301 /2007_17(\.html)?$       /news/2007_17
RedirectMatch 301 /2007_18(\.html)?$       /news/2007_18
RedirectMatch 301 /2007_20(\.html)?$       /news/2007_20
RedirectMatch 301 /2007_21(\.html)?$       /news/2007_21
RedirectMatch 301 /2008_22(\.html)?$       /news/2008_22
RedirectMatch 301 /2008_23(\.html)?$       /news/2008_23
RedirectMatch 301 /2008_24(\.html)?$       /news/2008_24
RedirectMatch 301 /2008_25(\.html)?$       /news/2008_25
RedirectMatch 301 /2008_26(\.html)?$       /news/2008_26
RedirectMatch 301 /2009_27(\.html)?$       /news/2009_27
RedirectMatch 301 /2009_28(\.html)?$       /news/2009_28
RedirectMatch 301 /2009_29(\.html)?$       /news/2009_29
RedirectMatch 301 /2009_30(\.html)?$       /news/2009_30
RedirectMatch 301 /2009_31(\.html)?$       /news/2009_31
RedirectMatch 301 /2009_33(\.html)?$       /news/2009_33
RedirectMatch 301 /2009_34(\.html)?$       /news/2009_34
RedirectMatch 301 /2010_35(\.html)?$       /news/2010_35
RedirectMatch 301 /2010_36(\.html)?$       /news/2010_36
RedirectMatch 301 /2010_37(\.html)?$       /news/2010_37
RedirectMatch 301 /2010_38(\.html)?$       /news/2010_38
RedirectMatch 301 /2010_39(\.html)?$       /news/2010_39
RedirectMatch 301 /2010_40(\.html)?$       /news/2010_40
RedirectMatch 301 /2011_41(\.html)?$       /news/2011_41
RedirectMatch 301 /2011_42(\.html)?$       /news/2011_42
RedirectMatch 301 /2011_43(\.html)?$       /news/2011_43
RedirectMatch 301 /2011_44(\.html)?$       /news/2011_44
RedirectMatch 301 /2011_45(\.html)?$       /news/2011_45
RedirectMatch 301 /2011_46(\.html)?$       /news/2011_46
RedirectMatch 301 /2011_47(\.html)?$       /news/2011_47
RedirectMatch 301 /2012_48(\.html)?$       /news/2012_48
RedirectMatch 301 /2012_49(\.html)?$       /news/2012_49
RedirectMatch 301 /2012_50(\.html)?$       /news/2012_50
RedirectMatch 301 /2012_51(\.html)?$       /news/2012_51
RedirectMatch 301 /2012_52(\.html)?$       /news/2012_52
RedirectMatch 301 /2012_53(\.html)?$       /news/2012_53
RedirectMatch 301 /2012_54(\.html)?$       /news/2012_54
RedirectMatch 301 /2012_55(\.html)?$       /news/2012_55
RedirectMatch 301 /2012_56(\.html)?$       /news/2012_56
RedirectMatch 301 /2012_57(\.html)?$       /news/2012_57
RedirectMatch 301 /2012_58(\.html)?$       /news/2012_58
RedirectMatch 301 /2012_59(\.html)?$       /news/2012_59
RedirectMatch 301 /2012_60(\.html)?$       /news/2012_60
RedirectMatch 301 /2012_61(\.html)?$       /news/2012_61
RedirectMatch 301 /2013_62(\.html)?$       /news/2013_62
RedirectMatch 301 /2013_63(\.html)?$       /news/2013_63
RedirectMatch 301 /2013_64(\.html)?$       /news/2013_64
RedirectMatch 301 /2013_65(\.html)?$       /news/2013_65
RedirectMatch 301 /2013_66(\.html)?$       /news/2013_66
RedirectMatch 301 /2013_67(\.html)?$       /news/2013_67
RedirectMatch 301 /2013_68(\.html)?$       /news/2013_68
RedirectMatch 301 /2013_69(\.html)?$       /news/2013_69
RedirectMatch 301 /2013_70(\.html)?$       /news/2013_70
RedirectMatch 301 /2013_71(\.html)?$       /news/2013_71
RedirectMatch 301 /2013_72(\.html)?$       /news/2013_72
RedirectMatch 301 /2013_73(\.html)?$       /news/2013_73
RedirectMatch 301 /2013_74(\.html)?$       /news/2013_74
RedirectMatch 301 /2013_75(\.html)?$       /news/2013_75
RedirectMatch 301 /2013_76(\.html)?$       /news/2013_76
RedirectMatch 301 /2013_77(\.html)?$       /news/2013_77
RedirectMatch 301 /2013_78(\.html)?$       /news/2013_78
RedirectMatch 301 /2013_79(\.html)?$       /news/2013_79
RedirectMatch 301 /2013_80(\.html)?$       /news/2013_80
RedirectMatch 301 /2014_81(\.html)?$       /news/2014_81
RedirectMatch 301 /2014_82(\.html)?$       /news/2014_82
RedirectMatch 301 /2014_83(\.html)?$       /news/2014_83
RedirectMatch 301 /2014_84(\.html)?$       /news/2014_84
RedirectMatch 301 /2014_85(\.html)?$       /news/2014_85
RedirectMatch 301 /2014_86(\.html)?$       /news/2014_86
RedirectMatch 301 /2014_87(\.html)?$       /news/2014_87
RedirectMatch 301 /2014_88(\.html)?$       /news/2014_88
RedirectMatch 301 /2014_89(\.html)?$       /news/2014_89
RedirectMatch 301 /2014_90(\.html)?$       /news/2014_90
RedirectMatch 301 /2014_91(\.html)?$       /news/2014_91
RedirectMatch 301 /2014_92(\.html)?$       /news/2014_92
RedirectMatch 301 /2014_93(\.html)?$       /news/2014_93
RedirectMatch 301 /2014_94(\.html)?$       /news/2014_94
RedirectMatch 301 /2014_95(\.html)?$       /news/2014_95
RedirectMatch 301 /2014_96(\.html)?$       /news/2014_96
RedirectMatch 301 /2014_97(\.html)?$       /news/2014_97
RedirectMatch 301 /2014_98(\.html)?$       /news/2014_98
RedirectMatch 301 /2014_99(\.html)?$       /news/2014_99
RedirectMatch 301 /2015_100(\.html)?$      /news/2015_100
RedirectMatch 301 /2015_101(\.html)?$      /news/2015_101
RedirectMatch 301 /2015_102(\.html)?$      /news/2015_102
RedirectMatch 301 /2015_103(\.html)?$      /news/2015_103
RedirectMatch 301 /2015_104(\.html)?$      /news/2015_104
RedirectMatch 301 /2015_105(\.html)?$      /news/2015_105
RedirectMatch 301 /2015_106(\.html)?$      /news/2015_106
RedirectMatch 301 /2015_107(\.html)?$      /news/2015_107
RedirectMatch 301 /2015_108(\.html)?$      /news/2015_108
RedirectMatch 301 /2015_109(\.html)?$      /news/2015_109
RedirectMatch 301 /2015_110(\.html)?$      /news/2015_110
RedirectMatch 301 /2015_111(\.html)?$      /news/2015_111
RedirectMatch 301 /2015_112(\.html)?$      /news/2015_112
RedirectMatch 301 /2015_113(\.html)?$      /news/2015_113
RedirectMatch 301 /2016_114(\.html)?$      /news/2016_114
RedirectMatch 301 /2016_115(\.html)?$      /news/2016_115
RedirectMatch 301 /2016_116(\.html)?$      /news/2016_116
RedirectMatch 301 /2016_117(\.html)?$      /news/2016_117
RedirectMatch 301 /2016_118(\.html)?$      /news/2016_118
RedirectMatch 301 /2016_119(\.html)?$      /news/2016_119
RedirectMatch 301 /2016_120(\.html)?$      /news/2016_120
RedirectMatch 301 /2016_121(\.html)?$      /news/2016_121
RedirectMatch 301 /2016_122(\.html)?$      /news/2016_122
RedirectMatch 301 /2016_123(\.html)?$      /news/2016_123
RedirectMatch 301 /2016_124(\.html)?$      /news/2016_124
RedirectMatch 301 /2016_125(\.html)?$      /news/2016_125
RedirectMatch 301 /2016_126(\.html)?$      /news/2016_126
RedirectMatch 301 /2016_127(\.html)?$      /news/2016_127
RedirectMatch 301 /2016_128(\.html)?$      /news/2016_128
RedirectMatch 301 /2016_129(\.html)?$      /news/2016_129
RedirectMatch 301 /2016_130(\.html)?$      /news/2016_130
RedirectMatch 301 /2016_131(\.html)?$      /news/2016_131
RedirectMatch 301 /2016_132(\.html)?$      /news/2016_132
RedirectMatch 301 /2016_133(\.html)?$      /news/2016_133
RedirectMatch 301 /2016_134(\.html)?$      /news/2016_134
RedirectMatch 301 /2016_135(\.html)?$      /news/2016_135
RedirectMatch 301 /2016_136(\.html)?$      /news/2016_136
RedirectMatch 301 /2016_137(\.html)?$      /news/2016_137
RedirectMatch 301 /2016_138(\.html)?$      /news/2016_138
RedirectMatch 301 /2016_139(\.html)?$      /news/2016_139
RedirectMatch 301 /2016_140(\.html)?$      /news/2016_140
RedirectMatch 301 /2016_141(\.html)?$      /news/2016_141
RedirectMatch 301 /2016_142(\.html)?$      /news/2016_142
RedirectMatch 301 /2016_143(\.html)?$      /news/2016_143
RedirectMatch 301 /2016_144(\.html)?$      /news/2016_144
RedirectMatch 301 /2016_145(\.html)?$      /news/2016_145
RedirectMatch 301 /2016_146(\.html)?$      /news/2016_146
RedirectMatch 301 /2016_147(\.html)?$      /news/2016_147
RedirectMatch 301 /2016_148(\.html)?$      /news/2016_148
RedirectMatch 301 /2016_149(\.html)?$      /news/2016_149
RedirectMatch 301 /2016_150(\.html)?$      /news/2016_150
RedirectMatch 301 /2016_151(\.html)?$      /news/2016_151
RedirectMatch 301 /2016_152(\.html)?$      /news/2016_152
RedirectMatch 301 /2016_153(\.html)?$      /news/2016_153
RedirectMatch 301 /2016_154(\.html)?$      /news/2016_154
RedirectMatch 301 /2016_155(\.html)?$      /news/2016_155
RedirectMatch 301 /2016_156(\.html)?$      /news/2016_156
RedirectMatch 301 /2016_157(\.html)?$      /news/2016_157
RedirectMatch 301 /2016_158(\.html)?$      /news/2016_158
RedirectMatch 301 /2016_159(\.html)?$      /news/2016_159
RedirectMatch 301 /2016_160(\.html)?$      /news/2016_160
RedirectMatch 301 /2016_161(\.html)?$      /news/2016_161
RedirectMatch 301 /2016_162(\.html)?$      /news/2016_162
RedirectMatch 301 /2016_163(\.html)?$      /news/2016_163
RedirectMatch 301 /2016_165(\.html)?$      /news/2016_165
RedirectMatch 301 /2016_166(\.html)?$      /news/2016_166
RedirectMatch 301 /2016_168(\.html)?$      /news/2016_168
RedirectMatch 301 /2017_170(\.html)?$      /news/2017_170
RedirectMatch 301 /2017_171(\.html)?$      /news/2017_171
RedirectMatch 301 /2017_172(\.html)?$      /news/2017_172
RedirectMatch 301 /2017_173(\.html)?$      /news/2017_173
RedirectMatch 301 /2017_174(\.html)?$      /news/2017_174
RedirectMatch 301 /2017_175(\.html)?$      /news/2017_175
RedirectMatch 301 /2017_176(\.html)?$      /news/2017_176
RedirectMatch 301 /2017_177(\.html)?$      /news/2017_177
RedirectMatch 301 /2017_178(\.html)?$      /news/2017_178
RedirectMatch 301 /2017_179(\.html)?$      /news/2017_179
RedirectMatch 301 /2017_180(\.html)?$      /news/2017_180
RedirectMatch 301 /2017_182(\.html)?$      /news/2017_182
RedirectMatch 301 /2017_183(\.html)?$      /news/2017_183
RedirectMatch 301 /2017_184(\.html)?$      /news/2017_184
RedirectMatch 301 /2017_185(\.html)?$      /news/2017_185
RedirectMatch 301 /2017_186(\.html)?$      /news/2017_186
RedirectMatch 301 /2017_187(\.html)?$      /news/2017_187
RedirectMatch 301 /2017_188(\.html)?$      /news/2017_188
RedirectMatch 301 /2017_189(\.html)?$      /news/2017_189
RedirectMatch 301 /2017_190(\.html)?$      /news/2017_190
RedirectMatch 301 /2017_191(\.html)?$      /news/2017_191
RedirectMatch 301 /2017_192(\.html)?$      /news/2017_192
RedirectMatch 301 /2017_193(\.html)?$      /news/2017_193
RedirectMatch 301 /2017_194(\.html)?$      /news/2017_194
RedirectMatch 301 /2017_195(\.html)?$      /news/2017_195
RedirectMatch 301 /2017_196(\.html)?$      /news/2017_196
RedirectMatch 301 /2017_197(\.html)?$      /news/2017_197
RedirectMatch 301 /2017_198(\.html)?$      /news/2017_198
RedirectMatch 301 /2017_199(\.html)?$      /news/2017_199
RedirectMatch 301 /2017_200(\.html)?$      /news/2017_200
RedirectMatch 301 /2017_201(\.html)?$      /news/2017_201
RedirectMatch 301 /2017_202(\.html)?$      /news/2017_202
RedirectMatch 301 /2017_203(\.html)?$      /news/2017_203
RedirectMatch 301 /2017_204(\.html)?$      /news/2017_204
RedirectMatch 301 /2017_205(\.html)?$      /news/2017_205
RedirectMatch 301 /2017_206(\.html)?$      /news/2017_206
RedirectMatch 301 /2017_207(\.html)?$      /news/2017_207
RedirectMatch 301 /2017_208(\.html)?$      /news/2017_208
RedirectMatch 301 /2017_209(\.html)?$      /news/2017_209
RedirectMatch 301 /2017_210(\.html)?$      /news/2017_210
RedirectMatch 301 /2017_211(\.html)?$      /news/2017_211
RedirectMatch 301 /2017_212(\.html)?$      /news/2017_212
RedirectMatch 301 /2017_214(\.html)?$      /news/2017_214
RedirectMatch 301 /2017_215(\.html)?$      /news/2017_215
RedirectMatch 301 /2018_217(\.html)?$      /news/2018_217
RedirectMatch 301 /2018_218(\.html)?$      /news/2018_218
RedirectMatch 301 /2018_219(\.html)?$      /news/2018_219
RedirectMatch 301 /2018_220(\.html)?$      /news/2018_220
RedirectMatch 301 /2018_221(\.html)?$      /news/2018_221
RedirectMatch 301 /2018_222(\.html)?$      /news/2018_222
RedirectMatch 301 /2018_223(\.html)?$      /news/2018_223
RedirectMatch 301 /2018_224(\.html)?$      /news/2018_224
RedirectMatch 301 /2018_225(\.html)?$      /news/2018_225
RedirectMatch 301 /2018_226(\.html)?$      /news/2018_226
RedirectMatch 301 /2018_227(\.html)?$      /news/2018_227
RedirectMatch 301 /2018_229(\.html)?$      /news/2018_229
RedirectMatch 301 /2018_230(\.html)?$      /news/2018_230
RedirectMatch 301 /2018_231(\.html)?$      /news/2018_231
RedirectMatch 301 /2018_232(\.html)?$      /news/2018_232
RedirectMatch 301 /2018_233(\.html)?$      /news/2018_233
RedirectMatch 301 /2018_234(\.html)?$      /news/2018_234
RedirectMatch 301 /2018_235(\.html)?$      /news/2018_235
RedirectMatch 301 /2018_236(\.html)?$      /news/2018_236
RedirectMatch 301 /2018_237(\.html)?$      /news/2018_237
RedirectMatch 301 /2018_238(\.html)?$      /news/2018_238
RedirectMatch 301 /2018_239(\.html)?$      /news/2018_239
RedirectMatch 301 /2018_240(\.html)?$      /news/2018_240
RedirectMatch 301 /2018_241(\.html)?$      /news/2018_241
RedirectMatch 301 /2018_242(\.html)?$      /news/2018_242
RedirectMatch 301 /2018_243(\.html)?$      /news/2018_243
RedirectMatch 301 /2018_244(\.html)?$      /news/2018_244
RedirectMatch 301 /2018_245(\.html)?$      /news/2018_245
RedirectMatch 301 /2018_246(\.html)?$      /news/2018_246
RedirectMatch 301 /2018_247(\.html)?$      /news/2018_247
RedirectMatch 301 /2018_248(\.html)?$      /news/2018_248
RedirectMatch 301 /2018_249(\.html)?$      /news/2018_249
RedirectMatch 301 /2018_250(\.html)?$      /news/2018_250
RedirectMatch 301 /2018_252(\.html)?$      /news/2018_252
RedirectMatch 301 /2018_253(\.html)?$      /news/2018_253
RedirectMatch 301 /2018_254(\.html)?$      /news/2018_254
RedirectMatch 301 /2018_255(\.html)?$      /news/2018_255
RedirectMatch 301 /2018_256(\.html)?$      /news/2018_256
RedirectMatch 301 /2018_257(\.html)?$      /news/2018_257
RedirectMatch 301 /2018_258(\.html)?$      /news/2018_258
RedirectMatch 301 /2018_259(\.html)?$      /news/2018_259
RedirectMatch 301 /2018_260(\.html)?$      /news/2018_260
RedirectMatch 301 /2018_261(\.html)?$      /news/2018_261
RedirectMatch 301 /2018_262(\.html)?$      /news/2018_262
RedirectMatch 301 /2018_263(\.html)?$      /news/2018_263
RedirectMatch 301 /2019_264(\.html)?$      /news/2019_264
RedirectMatch 301 /2019_265(\.html)?$      /news/2019_265
RedirectMatch 301 /2019_266(\.html)?$      /news/2019_266
RedirectMatch 301 /2019_267(\.html)?$      /news/2019_267
RedirectMatch 301 /2019_268(\.html)?$      /news/2019_268
RedirectMatch 301 /2019_269(\.html)?$      /news/2019_269
RedirectMatch 301 /2019_270(\.html)?$      /news/2019_270
RedirectMatch 301 /2019_271(\.html)?$      /news/2019_271
RedirectMatch 301 /2019_272(\.html)?$      /news/2019_272
RedirectMatch 301 /2019_273(\.html)?$      /news/2019_273
RedirectMatch 301 /2019_274(\.html)?$      /news/2019_274
RedirectMatch 301 /2019_275(\.html)?$      /news/2019_275
RedirectMatch 301 /2019_276(\.html)?$      /news/2019_276
RedirectMatch 301 /2019_277(\.html)?$      /news/2019_277
RedirectMatch 301 /2019_278(\.html)?$      /news/2019_278
RedirectMatch 301 /2019_279(\.html)?$      /news/2019_279
RedirectMatch 301 /2019_280(\.html)?$      /news/2019_280
RedirectMatch 301 /2019_281(\.html)?$      /news/2019_281
RedirectMatch 301 /2019_2815(\.html)?$     /news/2019_2815
RedirectMatch 301 /2019_282(\.html)?$      /news/2019_282
RedirectMatch 301 /2019_2825(\.html)?$     /news/2019_2825
RedirectMatch 301 /2019_283(\.html)?$      /news/2019_283
RedirectMatch 301 /2019_284(\.html)?$      /news/2019_284
RedirectMatch 301 /2019_285(\.html)?$      /news/2019_285
RedirectMatch 301 /2019_286(\.html)?$      /news/2019_286
RedirectMatch 301 /2019_287(\.html)?$      /news/2019_287
RedirectMatch 301 /2019_288(\.html)?$      /news/2019_288
RedirectMatch 301 /2019_289(\.html)?$      /news/2019_289
RedirectMatch 301 /2019_290(\.html)?$      /news/2019_290
RedirectMatch 301 /2019_291(\.html)?$      /news/2019_291
RedirectMatch 301 /2019_292(\.html)?$      /news/2019_292
RedirectMatch 301 /2019_294(\.html)?$      /news/2019_294
RedirectMatch 301 /2019_295(\.html)?$      /news/2019_295
RedirectMatch 301 /2019_296(\.html)?$      /news/2019_296
RedirectMatch 301 /2019_297(\.html)?$      /news/2019_297
RedirectMatch 301 /2019_298(\.html)?$      /news/2019_298
RedirectMatch 301 /2019_299(\.html)?$      /news/2019_299
RedirectMatch 301 /2019_300(\.html)?$      /news/2019_300
RedirectMatch 301 /2019_301(\.html)?$      /news/2019_301
RedirectMatch 301 /2019_302(\.html)?$      /news/2019_302
RedirectMatch 301 /2019_303(\.html)?$      /news/2019_303
RedirectMatch 301 /2019_304(\.html)?$      /news/2019_304
RedirectMatch 301 /2019_305(\.html)?$      /news/2019_305
RedirectMatch 301 /2019_306(\.html)?$      /news/2019_306
RedirectMatch 301 /2020_307(\.html)?$      /news/2020_307
RedirectMatch 301 /2020_308(\.html)?$      /news/2020_308
RedirectMatch 301 /2020_309(\.html)?$      /news/2020_309
RedirectMatch 301 /2020_310(\.html)?$      /news/2020_310
RedirectMatch 301 /2020_311(\.html)?$      /news/2020_311
RedirectMatch 301 /2020_312(\.html)?$      /news/2020_312
RedirectMatch 301 /2020_313(\.html)?$      /news/2020_313
RedirectMatch 301 /2020_314(\.html)?$      /news/2020_314
RedirectMatch 301 /2020_315(\.html)?$      /news/2020_315
RedirectMatch 301 /2020_316(\.html)?$      /news/2020_316
RedirectMatch 301 /2020_317(\.html)?$      /news/2020_317
RedirectMatch 301 /2020_318(\.html)?$      /news/2020_318
RedirectMatch 301 /2020_319(\.html)?$      /news/2020_319
RedirectMatch 301 /2020_320(\.html)?$      /news/2020_320
RedirectMatch 301 /2020_321(\.html)?$      /news/2020_321
RedirectMatch 301 /2020_322(\.html)?$      /news/2020_322
RedirectMatch 301 /2020_323(\.html)?$      /news/2020_323
RedirectMatch 301 /2020_324(\.html)?$      /news/2020_324
RedirectMatch 301 /2020_325(\.html)?$      /news/2020_325
RedirectMatch 301 /2020_326(\.html)?$      /news/2020_326
RedirectMatch 301 /2020_327(\.html)?$      /news/2020_327
RedirectMatch 301 /2020_328(\.html)?$      /news/2020_328
RedirectMatch 301 /2020_329(\.html)?$      /news/2020_329
RedirectMatch 301 /2020_330(\.html)?$      /news/2020_330
RedirectMatch 301 /2021_331(\.html)?$      /news/2021_331
RedirectMatch 301 /2021_332(\.html)?$      /news/2021_332
RedirectMatch 301 /2021_333(\.html)?$      /news/2021_333
RedirectMatch 301 /2021_334(\.html)?$      /news/2021_334
RedirectMatch 301 /2021_335(\.html)?$      /news/2021_335
RedirectMatch 301 /2021_336(\.html)?$      /news/2021_336
RedirectMatch 301 /2021_337(\.html)?$      /news/2021_337
RedirectMatch 301 /2021_338(\.html)?$      /news/2021_338
RedirectMatch 301 /2021_339(\.html)?$      /news/2021_339
RedirectMatch 301 /2021_340(\.html)?$      /news/2021_340

