# Allow link to leave off ".html"
Options +FollowSymlinks
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ /$1.html [L,QSA]

# Error Code Handling
ErrorDocument 404 /error

# Vanity URLs
Redirect 301 /redzone /program-red-zone

# Converting underscores to hyphens
Redirect 301 /alumniform /alumni-form